@import "./variables";

.domainstatistics {
  line-height: 1.5em;
  margin-top: 10em;
  // padding-left: 10em;
  // padding-right: 10em;

  &__chartcontainer {
    width: 100%;
    //height: 600px;
  }

  &__chartitem {
    display: inline-block;
    float: left;
    width: 100%;
  }

  &__chart {
    box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
    border-radius: 6px;
    margin-bottom: 5em;
    float: left;
    display: inline-block;
    // width: 35em;
    height: 30em;
    text-align: center;
    vertical-align: middle;
    margin-left: 2em;
    background: inherit;
    margin-right: 2em;

  }

  &__chartname {
    text-transform: capitalize;
    padding: 1rem 1.75rem;
    border-bottom: 1px solid #e6e6e6;
    color: #384650;
    background-color: #e6e6e6;
  }
  &__overview{
    display: inline-block;
    float: left;
    width: 100%;
  }
}
