<div *ngIf="isLoading" class="spinner">
        <i class="fa fa-spinner fa-spin" *ngIf="isLoading"></i>
</div>


        <!-- <div *ngIf="myData" class="statistics__chartcontainer">
                <div class="statistics__chartitem">
                        <ng-template ngFor let-item [ngForOf]="myData" let-i="index" [ngForTrackBy]="trackByFn"> -->
                                <div class="domainstatistics__chart">
                                        <p class="domainstatistics__chartname" >{{domainname}}</p>
                                        <google-chart *ngIf="alldomainsdata" [title]="domainname" [type]="bartype" [data]="alldomainsdata" [options]="pieoptions">
                                        </google-chart>
                                </div>
                        <!-- </ng-template>
                </div>
        </div>

</div> -->