<div class="app-detailspage">

    <div class="app-detailspage__header-container">
        <div class="app-detailspage__header">

            <div class="">
                <ul id="breadcrumb" class="app-detailspage__breadcrum">
                    <li>
                        <a href="#">

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            {{heading}}</a>
                    </li>
                    <li>
                        <a href="#">
                        </a>
                    </li>
                    <!-- <li>
              <a href="#">
                {{displayheadingName}}</a>
            </li> -->
                    <!-- <li>
              <a href="#">
              </a>
            </li> -->
                    <!-- <li>
              <a href="#">
               </a>
            </li> -->
                    <li>
                        <a href="#">
                        </a>
                    </li>
                    <!-- <li><a href="#"><span class="icon icon-arrow-down"> </span> Download</a></li> -->
                </ul>


            </div>
        </div>
    </div>


    <div class="">
        <div class="app-detailspage__nav-container">
            <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
                <ng-template ngFor let-item [ngForOf]="tabstoDisplay" let-i="index" let first=first; [ngForTrackBy]="trackByFn">
                    <li class="nav-item">
                        <a *ngIf="i==0" data-toggle="pill" (click)="switchTab($event,i)" href="#pills-i" id="pills-i-tab" role="tab" [ngClass]="(selectedTab==i) ? 'nav-link active':'nav-link  app-detailspage--nav-link'"
                            aria-controls="pills-i" aria-selected="true">{{item}}</a>
                        <a *ngIf="i!=0" data-toggle="pill" href="#pills-i" (click)="switchTab($event,i)" id="pills-i-tab" role="tab" [ngClass]="(selectedTab==i) ? 'nav-link  active':'nav-link app-detailspage--nav-link'"
                            aria-controls="pills-i" aria-selected="false">{{item}}</a>
                    </li>
                </ng-template>
            </ul>
        </div>


<!--         
        <ng-template ngFor let-item [ngForOf]="tabstoDisplay" let-c="index" [ngForTrackBy]="trackByFn">
                <div *ngIf="c==0" [ngClass]="(selectedContainer==c) ? 'tab-pane fade show active':'tab-pane fade'" id="pills-i" role="tabpanel"
                  aria-labelledby="pills-i-tab"> -->

        <div padding class="app-detailspage__content" *ngIf="tabstoDisplay && tabsContent">
                <ng-template ngFor let-item [ngForOf]="tabstoDisplay" let-c="index" [ngForTrackBy]="trackByFn">
                        <div *ngIf="c==0" [ngClass]="(selectedContainer==c) ? 'tab-pane fade show active':'tab-pane fade '" role="tabpanel"
                          aria-labelledby="pills-i-tab">
                    <ng-template ngFor let-item [ngForOf]="tabsContent" let-i="index" [ngForTrackBy]="trackByFn">
                        <div class="app-detailspage__item">
                            <div id="{{i}}" [innerHtml]="item">
                            </div>
                        </div>
                    </ng-template>
                </div>


                <div id="{{c}}" *ngIf="c!=0" [ngClass]="(selectedContainer==c) ? 'tab-pane fade show active':'tab-pane fade '" role="tabpanel"
                aria-labelledby="pills-i-tab">

                <ng-template ngFor let-item [ngForOf]="tabsContent" let-i="index" [ngForTrackBy]="trackByFn">
                        <div class="app-detailspage__item">
                          <div id="{{i}}" [innerHtml]="item">
                          </div>
                        </div>
                      </ng-template>


                </div>

            </ng-template>
          
            
        </div>

    </div>
</div>


 