.app-detailspage{
    margin-bottom: 8em;
    margin-top: 13em;


    &__nav-container {
        margin-top: -2.6em;
    }
    &__header {
        background: $color-tryg-gray;
        border: 1px solid $color-tryg-gray;
        border-radius: .4em;
        height: 3em;
        width: 100%;
        display: inline-block;
        float: left;
        margin-top: .5em;
    }
    &__header-container {
        position: fixed;
        margin-top: -5em;
        width: 66.4%;
        margin-bottom: 2em;
        z-index: $minimum-priority;
        background: $color-white;
        height: 5em;
    }
    &__header-text {
        margin-left: 1em;
        color: $color-white;
    }
    &__item{
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
    &__hide{
        display: none;
    }
    &__show{
        display: block;
    }
    &--nav-link {
        display: block;
        padding: 0.5rem 1rem;
        border: 1px solid $primary-color-theme;
        margin-right: 0;
        margin-left: .4em;
        color: $primary-color-theme;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        &:last-child {
            margin-right: 0;
        }
    }
    .nav-link {
        &:first-child {
            margin-left: 0;
        }
    }
    .nav-item {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    &__container {
        margin: 1em;
    }
    .nav-link.active {
        background: $primary-color-theme;
        margin-right: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}