<div class="analytics">
        <h1 class="analytics__heading">Carex Analytics</h1>

        <!-- <div id="statisticschart"  class="statistics__chartcontainer"></div> -->
        <div class="analytics__container">
                <div class="analytics__filtercontainer">
                        <form [formGroup]="analyticsForm" (ngSubmit)="getanalyticsData()">
                                <div class="form-row">
                                        <div class="form-group col-md-2">
                                                <label for="application"><i class="fas fa-mobile-alt"></i>Select Application</label>
                                                <select *ngIf="allapplications" multiple [(ngModel)]="slctapplication"
                                                        data-live-search="true" [ngModelOptions]="{standalone: true}"
                                                        class="form-control selectpicker show-tick"
                                                        (change)="Multiselect($event,item)"
                                                        id="exampleFormControlSelect1">
                                                        <option *ngFor="let item of allapplications; index as op;trackBy: trackByFn"
                                                                [selected]="item.selected===true ? 'selected':null"
                                                                data-tokens="item" [ngValue]="item.value">
                                                                {{item.appname}}
                                                        </option>
                                                </select>
                                        </div>
                                        <div class="form-group col-md-2">
                                                <label for="startdate"><i class="fas fa-calendar-alt"></i>Start Date</label>
                                                <input [(ngModel)]="startdate" [readonly]="true"
                                                        [ngModelOptions]="{standalone: true}" [owlDateTime]="i"
                                                        type="text" class="form-control" value="startdate"
                                                        [owlDateTimeTrigger]="i" placeholder="ubegrænset" />
                                                <span class="detailspage__dateicon" [owlDateTimeTrigger]="i"><i
                                                                class="fal fa-calendar-alt"></i></span>
                                                <span class="detailspage__closeicon" (click)="clearstartDate(item)"><i
                                                                class="fal fa-times"></i></span>
                                                <owl-date-time (afterPickerClosed)="StartDate(item,i)"
                                                        [disabled]="false" [pickerType]="'calendar'" #i></owl-date-time>
                                        </div>
                                        <div class="form-group col-md-2">
                                                <label for="enddate"><i class="fas fa-calendar-alt"></i>End Date</label>
                                                <input [(ngModel)]="enddate" [readonly]="true"
                                                        [ngModelOptions]="{standalone: true}" [owlDateTime]="j"
                                                        type="text" class="form-control" value="enddate"
                                                        [owlDateTimeTrigger]="j" placeholder="ubegrænset" />
                                                <span class="detailspage__dateicon" [owlDateTimeTrigger]="j"><i
                                                                class="fal fa-calendar-alt"></i></span>
                                                <span class="detailspage__closeicon" (click)="clearendDate(item)"><i
                                                                class="fal fa-times"></i></span>
                                                <owl-date-time (afterPickerClosed)="EndDate(item,i)" [disabled]="false"
                                                        [pickerType]="'calendar'" #j></owl-date-time>
                                        </div>
                                        <div class="form-group col-md-2">
                                                <div class="analytics__info">
                                                <div *ngIf="!isLoading" class="spinner"></div>
                                                        <p class="analytics__chartnamee"><i class="fas fa-users"></i> Total users visits </p>
                                                        <h2 *ngIf="filteredata && filteredata.length">{{filteredata.length}}</h2>
                                        </div>
                                        </div>
                                        <div class="form-group col-md-2">
                                                <div class="analytics__info">
                                                <div *ngIf="!isLoading" class="spinner"></div>
                                                        <p class="analytics__chartnamee"><i class="fas fa-users"></i> Total users</p>
                                                        <h2 *ngIf="totalusersData && totalusersData.length">{{totalusersData.length}}</h2>
                                                </div></div>
                                        <div class="form-group col-md-2">
                                                <div class="analytics__info">
                                                <div *ngIf="!isLoading" class="spinner"></div>
                                                <button (click)="download($event)" class="btn"><i class="fas fa-cloud-download"></i>Download Frontend analytics report</button>
                                                <!-- <button (click)="downloadservicelogs($event)" class="btn"><i class="fas fa-cloud-download"></i>Download service logs report</button> -->
                                        </div></div>
                                </div>
                        </form>
                </div>

        </div>
        <div class="analytics__overview">
                <div class="">
                        <div class="row">
                                <!-- <div class="col-sm-4">
                                        <div *ngIf="myData" class="analytics__dashboardchart">
                                                <p class="analytics__chartname">Dashboard</p>
                                                <google-chart *ngIf="myData" [title]="Dashboard" [type]="type"
                                                        [data]="myData" [options]="options">
                                                </google-chart>
                                        </div>
                                </div>
                                <div class="col-sm-4">
                                        <div *ngIf="myData" class="analytics__dashboardchart">
                                                <p class="analytics__chartname">Devices</p>
                                                <google-chart *ngIf="myData" [title]="Dashboard" [type]="type"
                                                        [data]="myData" [options]="options">
                                                </google-chart>
                                        </div>
                                </div> -->
                                <div class="col-sm-4">
                                        <div *ngIf="!eventData" class="spinner"></div>
                                        <div class="analytics__dashboardchart">
                                                <p class="analytics__chartname">Pages by views </p>
                                                <google-chart *ngIf="eventData" [type]="piechart" [data]="eventData"
                                                        [options]="pieoptions">
                                                </google-chart>
                                        </div>
                                </div>
                                <div class="col-sm-4">
                                        <div *ngIf="!platformsData" class="spinner"></div>
                                        <div class="analytics__dashboardchart">
                                                <p class="analytics__chartname">Devices</p>
                                                <google-chart *ngIf="platformsData" [type]="piechart"
                                                        [data]="platformsData" [options]="platformspieoptions">
                                                </google-chart>
                                        </div>
                                </div>
                                <div class="col-sm-4">
                                        <div *ngIf="!versionsData" class="spinner"></div>
                                        <div class="analytics__dashboardchart">
                                                <p class="analytics__chartname">Versions</p>
                                                <google-chart *ngIf="versionsData" [type]="columnchart"
                                                        [data]="versionsData" [options]="versionscolumnoptions">
                                                </google-chart>
                                        </div>
                                </div>

                        </div>
                        <div class="row">
                                <div class="col-sm-6">
                                        <div *ngIf="!activeusersData" class="spinner"></div>
                                        <div class="analytics__dashboardchart">
                                                <p class="analytics__chartname">Most active users</p>
                                                <google-chart *ngIf="activeusersData" [type]="columnchart"
                                                        [data]="activeusersData" [options]="activeuserscolumnoptions">
                                                </google-chart>
                                        </div>
                                </div>
                                <div class="col-sm-6">
                                        <div *ngIf="!userrelationsData" class="spinner"></div>
                                        <div class="analytics__dashboardchart">
                                                <p class="analytics__chartname">User by application relation</p>
                                                <google-chart *ngIf="userrelationsData" [type]="barchart"
                                                        [options]="userrelationscolumnoptions.options"
                                                        [data]="userrelationscolumnoptions.dataTable">
                                                </google-chart>
                                        </div>
                                </div>
                        </div>

                        <!-- <div class="row">
                                <div class="col-sm-4">
                                        <div *ngIf="myData" class="analytics__dashboardchart">
                                                <p class="analytics__chartname">Users</p>
                                                <google-chart *ngIf="myData" [title]="Dashboard" [type]="type"
                                                        [data]="myData" [options]="options">
                                                </google-chart>
                                        </div>
                                </div>
                                <div class="col-sm-4">
                                        <div *ngIf="myData" class="analytics__dashboardchart">
                                                <p class="analytics__chartname">platforms</p>
                                                <google-chart *ngIf="myData" [title]="Dashboard" [type]="type"
                                                        [data]="myData" [options]="options">
                                                </google-chart>
                                        </div>
                                </div>
                                <div class="col-sm-4">
                                        <div *ngIf="myData" class="analytics__dashboardchart">
                                                <p class="analytics__chartname">Pages by views</p>
                                                <google-chart *ngIf="myData" [title]="Dashboard" [type]="bartype"
                                                        [data]="myData" [options]="pieoptions">
                                                </google-chart>
                                        </div>
                                </div>
                        </div> -->
                </div>
                <!-- <div class="form-group col-md-2">
                        <div *ngIf="myData" class="analytics__dashboardchart">
                                        <p class="analytics__chartname">Dashboard</p>
                                        <google-chart *ngIf="myData" [title]="Dashboard" [type]="type" [data]="myData"
                                                [options]="options">
                                        </google-chart>
                                </div>
                        </div>
                        <div class="form-group col-md-2">
                                <div *ngIf="myData" class="analytics__dashboardchart">
                                        <p class="analytics__chartname">Dashboard</p>
                                        <google-chart *ngIf="myData" [title]="Dashboard" [type]="bartype" [data]="myData"
                                                [options]="pieoptions">
                                        </google-chart>
                                </div>     
                         </div> -->
        </div>
</div>