@import '../assets/sass/variables';

.row{
  height: 100%;
    &--left-container{
      //  min-height: -webkit-fill-available;
        //align-items: stretch;
        border-right: 1px solid $shadow-color;
        padding-right: 0;
        background: $color-lightgray-background;
         height: 100%;

        
    }
    &--right-container{
        // min-height: -webkit-fill-available;
        border-left: 1px solid $shadow-color;
        //align-items: stretch;
        padding-left: 0;
        background: $color-lightgray-background;
        // height: auto;
        height: 100%;
    }
    .ace_editor.ace-jsoneditor {
      min-height: 1000px;
    }
    .col-8{
      overflow: scroll;
  } 
}    
.col-8{
    height: 100%;
    overflow: scroll;
} 
// @-moz-document url-prefix(){
//  .col-8{
//      height:  auto;
//  } 
// }
// @supports(-ms-ime-align: auto){
//     .col-8{
//         height:  auto;
//     } 
// }