<div class="header-page">

  <span class="header-page__version">version  1.0.2</span>
  <nav class="navbar navbar-expand-md navbar-dark">

    <a class="navbar-brand header__logo-link" href="#">
      <img class="header-page__logo" src="assets/img/logo-carex.png">
      <!-- <img class="header-page__logo" src="assets/img/tryg_logo.png"> -->
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="header-page__user-container">
      <!-- <div class="header-page__user" *ngIf="user">
      Welcome {{user.username}}
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
      <p>
        <a href="logout.php" class="header-page__logout">logout</a>
      </p>

    </div> -->
      <!-- <div class="header-page__user"  *ngIf="!user">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        <p><a href="#" class="header-page__logout"> Login</a></p>
            </div> -->
      <div class="header-page__notification-container">
        <a href="#" class="header-page__dropdown-item header-page__notifications">
          <i class="fa fa-bell"></i>
          <span class="header-page__notify">1</span>
        </a>
      </div>
      <div *ngIf="user" class="dropdown  header-page__dropdown">
        <button class="btn btn-secondary dropdown-toggle header-page__user-btn" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="false"
          aria-expanded="false">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i> {{user.username}}
        </button>
        <div class="dropdown-menu  header-page__dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item header-page__dropdown-item" type="button">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>Profile</button>
            <button  (click)="logout()" class="dropdown-item header-page__dropdown-item" type="button">
                <i class="fa fa-sign-out"></i>Logout</button>
          <!-- <button href="/logout.php" class="dropdown-item header-page__dropdown-item" type="button">
            <i class="fa fa-sign-out"></i>Logout</a> -->
          <!-- <button class="dropdown-item header-page__dropdown-item" type="button"><i class="fa fa-key"></i>Change Password</button> -->
        </div>
      </div>


      <!-- <div class="dropdown  header-page__dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                <i class="fa fa-desktop"></i> Applicationer
              </button>
              <div class="dropdown-menu header-page__dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item header-page__dropdown-item" type="button">Administrator</button>
                <button class="dropdown-item header-page__dropdown-item" type="button">Workspace</button>
                <button class="dropdown-item header-page__dropdown-item" type="button">Manager</button>
                <button class="dropdown-item header-page__dropdown-item" type="button">Navigator</button>
              </div>
            </div> -->

    </div>

    <!--     <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
 -->
  </nav>
</div>