<ng-template #modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Upload file</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body itsystems--modal-body" (drop)="onDrop($event)">
        <div class="itsystems__modal-container">
            <!-- (dragenter)="ondragEnter($event)"
                                                                                (dragleave)="ondragLeave($event)"
                                                                                (dragover)="ondragOver($event)" -->
            <!-- <p>One fine body&hellip;</p> -->
            <form #uploadfileForm (ngSubmit)="onfileSubmit($event)">
                <label class="cursor-pointer itsystems__upload">
                    <input type="file" ngf-select ng-model="new_files" id="inputFile" #inputFile class="" (change)="onfileChange($event)">
                    <!--(click)="onfileClick($event)"  -->

                </label>
                <div class="itsystems__dropContainer">
                    <span class="itsystems__dropContainer itsystems__dropContainer--droptext"></span>
                    <i class="fa fa-download"></i>

                </div>
            </form>
            <div class="uploadcontainer">
                <div [ngClass]="(uploadStatus==true) ? '':'d-none'">
                    <div class="alert alert-success">
                        <strong>Success!</strong> All done file uploaded successfully.
                    </div>
                </div>
                <div [ngClass]="(fileStatus==true) ? '':'d-none'">
                    <div class="alert alert-danger ">
                        <strong>Error!</strong> Allowed file types csv, json, xls, xlsx, pdf. Maximum 10MB allowed.
                    </div>
                </div>
                <div [ngClass]="(uploadContainer==true) ? '':'d-none'">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark" (click)="onfileSubmit($event)">
            <i class="fa fa-save"></i> Gem</button>
        <button type="submit" class="itsystems__operations-icon itsystems__buttons-icon">
            <i class="fa fa-save"></i>Gem </button>
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">
            <i class="fa fa-times-circle"></i> Annuler</button>
    </div>

</ng-template>
