@import "./variables";

.login {
    margin-top: 150px;

    &__login {
        background: $primary-color-theme;
        color: $color-white;
        width: 100%;
        border-color: $primary-color-theme !important;
        border-radius: 2em;
        -webkit-box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
        box-shadow: 2px 4px 11px 4px rgba(56, 70, 80, 0.12);
    }

    &__textbox {
        padding: 15px !important;
        border-radius: .4em;
        height: 53px;
        padding: 15px !important;
        font-weight: normal;
        background: $textbox-color;
    }
}
