<div class="login">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Bruger Navn</label>
      <input type="email" [(ngModel)]="userkey" [ngModelOptions]="{standalone: true}"
        class="form-control login__textbox" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input [(ngModel)]="passwordkey" [ngModelOptions]="{standalone: true}" type="password"
        class="form-control login__textbox" id="exampleInputPassword1" placeholder="Password">
    </div>
    <small id="emailHelp" *ngIf="error===true" class="form-text text-danger">Wrong username or password</small>
    <button type="submit" (click)="login()" class="btn login__login btn-lg">Login</button>
  </form>
  <!-- <jqxNotification #errorNotification [width]="3000" [position]="'bottom-right'" [opacity]="0.9"
  [autoOpen]="false" [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="15000"
  [template]="'error'">
  <div>{{errorMessage}}</div>
</jqxNotification> -->
</div>