<!-- <ion-header class="header">
        <header-viewer></header-viewer>
    </ion-header>  -->


<div *ngIf="isLoading" class="spinner">
    <i class="fa fa-spinner fa-spin" *ngIf="isLoading"></i>
</div>


<div class="sendpushnotification">
    <h1 text-center>Carex Notification System</h1>
    <form [formGroup]="loginForm" class="sendpushnotification__form" (ngSubmit)="sendNotification()">

        <div class="form-group">
            <label>Brugervendtnoegle</label>
            <select  (change)='selectApp($event)' class="form-control">
                <option value="0">All apps</option>
                <option value="ae9055e5-210e-4a0b-9d39-b334c12cf744">Tryg</option>
                <option value="dc252eac-7759-4de1-a371-25da7a76761b">Molholm</option>
                <option value="ae9055e5-210e-4a0b-9d39-b334c12cf744">Willis</option>
                <option value="86d383ea-644c-49df-9d8c-0fdde0811a35">Ap</option>
            </select>
        </div>

        <!-- <div class="form-group">
                <label>Platform</label>
            <div class="col-md-4 mb-3 ios" (click)="toogleIos($event)">
                <input class="form-control"  formControlName="ios"
                    [checked]="ios === true ? 'true' : false" class="form-check-input" type="radio" name="ios" id="ios">
                <label class="form-check-label" for="ios">
                    Ios
                </label>
            </div>

            <div class="col-md-4 mb-3 android" (click)="toogleAndroid($event)">
                <input class="form-control"  formControlName="android"
                    [checked]="android === true ? 'true' : false" class="form-check-input" type="radio" name="android"
                    id="android">
                <label class="form-check-label" for="android">
                    Android
                </label>
            </div> -->

            <!-- <div class="col-md-4 mb-3 web" (click)="web($event)">
                <input class="form-control" (click)="web($event)" formControlName="web"
                    [checked]="web === true ? 'true' : false" class="form-check-input" type="radio" name="web" id="web">
                <label class="form-check-label" for="web">
                    Web users
                </label>
            </div> -->
        <!-- </div> -->


        <div class="form-group">
            <label>Title</label>
            <input type="text" id="title" placeholder="title" [(ngModel)]="titlemodel"  class="form-control" formControlName="title" />

        </div>
        <div class="form-group">
            <label for="message">Message</label>
            <textarea rows="6" id="message" class="form-control" [(ngModel)]="messagemodel"   formControlName="message"></textarea>
        </div>
    </form>



    <div *ngIf="alldevices" class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>            
                            <!-- <th scope="col">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" [(ngModel)]="isSelectall" (change)="selectAll(event)"   aria-label="Checkbox for following text input">
                                    <label class="custom-control-label" for="selectall">Select All</label>
                                </div></th> -->
                            <th scope="col">Brugernavn</th>
                            <th scope="col">Bruger uuid</th>
                            <th scope="col">Applikationuuid</th>
                            <th scope="col">Version</th>
                            <th scope="col">Platform</th>

                            <th scope="col">Sent Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-template ngFor let-item [ngForOf]="alldevices" let-i="index" [ngForTrackBy]="trackByFn">
                            <tr>
                                    <!-- <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" aria-label="Checkbox for following text input">
                                                <label class="custom-control-label" for="userselect">Select</label>
                                            </div>
                                        </td> -->
                                <td>{{item.brugernavn}}</td>
                                <td>{{item.brugeruuid}}</td>
                                <td>{{item.applikationuuid}}</td>
                                <td>{{item.version}}</td>
                                <td>{{item.platform}}</td>

                                <td>success</td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-secondary login__login-button" (click)="sendNotifications()">Send Push
        Notification</button>
</div>


<jqxNotification #successNotification [width]="300" [position]="'bottom-right'" [opacity]="0.9" [autoOpen]="false"
[autoClose]="false" [animationOpenDelay]="800"  [template]="'success'">
<div>
        Success!! Thank you..
</div>
</jqxNotification>
<jqxNotification #errorNotification [width]="1000" [position]="'bottom-right'" [opacity]="1" [autoOpen]="false"
[autoClose]="false" [animationOpenDelay]="100"  [template]="'error'">
<!-- <div>Oops! Something went wrong . Please try again </div> -->

<div class="errormessage">{{serviceErrorMessage}} </div>
</jqxNotification>