@import "./variables";
     
.sendpushnotification {
    line-height: 1.5em;
    margin-top: 10em;
    padding-left: 10em;
    padding-right: 10em;

    @include media-breakpoint-down(lg) {
        padding: 1em;
    }

    &__form {
        margin-top: 2em;
    }
}
.custom-control-label{
    vertical-align: middle;
}