<div *ngIf="isLoading" class="spinner">
        <i class="fa fa-spinner fa-spin" *ngIf="isLoading"></i>
</div>


<div class="statistics">
        <h1 class="statistics__heading">Carex Statistics System</h1>

        <!-- <div id="statisticschart"  class="statistics__chartcontainer"></div> -->

        <div class="statistics__overview">
                        <div *ngIf="myData" class="statistics__dashboardchart">
                                        <p class="statistics__chartname" >Dashboard</p>
                <google-chart *ngIf="myData" [title]="Dashboard" [type]="type" [data]="myData" [options]="options">
                </google-chart>
                        </div>
                        <div *ngIf="myData" class="statistics__dashboardchart">
                                        <p class="statistics__chartname" >Dashboard</p>
                <google-chart *ngIf="myData" [title]="Dashboard" [type]="bartype" [data]="myData" [options]="pieoptions">
                </google-chart>
                        </div>
        </div>



        <div *ngIf="myData" class="statistics__chartcontainer">
                <div class="statistics__chartitem">
                        <ng-template ngFor let-item [ngForOf]="myData" let-i="index" [ngForTrackBy]="trackByFn">
                                        <!-- <p class="statistics__chartname">{{item[0]}}</p> -->
                                        <domainstatistics-viewer [domainname]="item[0]" ></domainstatistics-viewer>
                        </ng-template>
                </div>
        </div>

</div>