@import "./variables";

.itsystems {
    margin-bottom: 8em;
    margin-top: 10em;
    width: 100%;
    height: 100%;
    

    &__operations {
        float: right;
        display: inline-block;
        border-radius: .4em;
        height: 3em;
        margin-right: 1em;
        margin-top: 0.3em;
    }

    &__operations-icon {
        margin-right: 2em;
        float: right;
        color: $color-white;
        margin-top: .5em;
        font-weight: $font-weight-normal;
        // font-size: 0.9em;
        &>.fa{
        padding-left: 5px;
        }
    }

    &__operations-icon-upload {
        float: right;
        color: $color-white;
        font-weight: $font-weight-normal;
        // font-size: 0.9em;
    }

    &__breadcrum {
        float: left;
    }

    &__header {
        background: $color-highlight-green;
        border: 1px solid $primary-color-theme;
        border-radius: .4em;
        height: 3em;
        margin-top: .5em;
    }

    &__header-container {
        position: fixed;
        margin-top: -5em;
        width: 66.4%;
        margin-bottom: 2em;
        z-index: 991;
        background: $color-white;
        height: 5em;
    }

    &__header-text {
        margin-left: 1em;
        color: $color-white;
        padding-top: .3em;
        float: left;
    }

    &__uploadcontainer {
        border: 1px solid $color-highlight-green;
        height: 7em;
        z-index: 9999;
        background: $primary-color-theme;
        position: absolute;
        opacity: .9;
        text-align: center;

        /* border-radius: 11%; */
        color: $color-white;

        //width: 16em;
   
    }

    &__buttons-icon {
        background: none;
        border: none;
        color: $color-white;
        margin-top: 1.5em;
    }

    &__upload {
        //  font-size: 1.1em;
        //  font-weight: bold;
        //  position: absolute;
        //  margin-left: -3em;
   
    }

    &__fileinput {
        width: 4em;
        padding: 2.5em 0 0 0;
        height: 0em;
        overflow: hidden;
        border-radius: 100%;
        position: absolute;
        margin-left: -3em;
        margin-top: -10px;
    }

    &__dropContainer {
        display: inline-block;
        float: right;
        margin-right: 3em;

        &--droptext {}

        .fa {
            font-size: 2em;
        }
    }

    &__modal-container {
        margin: 1em;
    }

    &--modal-body {
        padding: 0 !important;
    }

    &__gridContainer {
        height: 100%;
        width: 100%;
    }

    &__operations-exportbtn {
        background: transparent;
        border: none;
        float: right;
        color: $color-white;

        >.fa{
            padding-right: 5px;
        }
    }
    &__operations-exportul {
        text-align: center;
    }
    &__operations-exportli{
        border-bottom: 1px solid $shadow-color;
        text-align: center;
        cursor: pointer;

    }
    &__operations-exporta{
    color: $color-dark-black;
    line-height: 2.5em;

    }
}

.export {
    float: right;
    padding: 2em;
}

.jqx-file-upload {
    float: left;
    width: 200px;
    height: 111px;
    margin-top: 0.5em;
    position: absolute;
    margin-left: -8.5em;
    z-index: 999;
}

.errormessage {
    font-weight: bold;
    font-size: 1em;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0px;
    margin: 0;
}
