<div class="itsystems">
        <div class="">
                <div class="itsystems__header-container">
                        <div class="itsystems__header">
                                <div class="">
                                        <breadcrum-viewer [breadcrumelements]="navigationElements"></breadcrum-viewer>
                                        <div class="itsystems__operations">


                                                <button *ngIf="itsystemGrid && columns" title="Eksporter" class="btn  dropdown-toggle itsystems__operations-exportbtn"
                                                        type="button" data-toggle="dropdown"> <i class="fas fa-cloud-upload"></i>Eksporter
                                                        <span class="caret"></span>

                                                </button>
                                                <ul class="dropdown-menu itsystems__operations-exportul">
                                                        <li class="itsystems__operations-exportli" id="csv" (click)="download($event)"><a
                                                                        href="#" id="csv" class="itsystems__operations-exporta">csv</a></li>

                                                        <!-- <li class="itsystems__operations-exportli" id="json" (click)="download($event)"><a
                                                                        href="#" id="json" class="itsystems__operations-exporta">json</a></li> -->
                                                        <li class="itsystems__operations-exportli" id="xlsx" (click)="download($event)"><a
                                                                        href="#" id="xlsx" class="itsystems__operations-exporta">xlsx</a></li>
                                                        <!-- <li class="itsystems__operations-exportli" id="xls" (click)="download($event)"><a
                                                                        href="#" id="xls"  class="itsystems__operations-exporta">xls</a></li> -->
                                                                        <!-- <li class="itsystems__operations-exportli" id="pdf" (click)="download($event)"><a
                                                                                href="#" id="pdf"  class="itsystems__operations-exporta">pdf</a></li> -->
                                                </ul>

<!-- 
                                                <a title="Eksporter" (click)="download($event)" class="button itsystems__operations-icon"
                                                        href="#">
                                                        <i class="fa fa-cloud-upload"></i>Eksporter</a> -->

                                                <a title="Importer" (click)="open(modal,$event)" class="button itsystems__operations-icon"
                                                        href="#">
                                                        <i class="fas fa-cloud-download"></i>Importer</a>

                                                <a title="Create new entry" (click)="CreatePage($event)" class="button itsystems__operations-icon"
                                                        href="#">
                                                        <i class="fa fa-plus-circle"></i> Opret</a>

                                                        <!-- <a class="button itsystems__operations-icon"  id="csv" (click)="filtereddata($event)"
                                                                href="#" > <i class="fa fa-check-circle"></i> selectedData(name will be changed)</a> -->


                                                <ng-template #modal let-c="close" let-d="dismiss">
                                                        <div class="modal-header">
                                                                <h4 class="modal-title">Upload file</h4>
                                                                <button type="button" class="close" aria-label="Close"
                                                                        (click)="d('Cross click')">
                                                                        <span aria-hidden="true">&times;</span>
                                                                </button>
                                                        </div>

                                                        <div class="modal-body itsystems--modal-body" (drop)="onDrop($event)">
                                                                <div class="itsystems__modal-container">
                                                                        <!-- (dragenter)="ondragEnter($event)"
                                                                                                                                                                    (dragleave)="ondragLeave($event)"
                                                                                                                                                                    (dragover)="ondragOver($event)" -->
                                                                        <!-- <p>One fine body&hellip;</p> -->
                                                                        <form #uploadfileForm (ngSubmit)="onfileSubmit($event)">
                                                                                <label class="cursor-pointer itsystems__upload">
                                                                                        <input type="file" ngf-select
                                                                                                ng-model="new_files" id="inputFile"
                                                                                                #inputFile class=""
                                                                                                (change)="onfileChange($event)">
                                                                                        <!--(click)="onfileClick($event)"  -->

                                                                                </label>
                                                                                <div class="itsystems__dropContainer">
                                                                                        <span class="itsystems__dropContainer itsystems__dropContainer--droptext"></span>
                                                                                        <i class="fa fa-download"></i>

                                                                                </div>
                                                                        </form>
                                                                        <div class="uploadcontainer">
                                                                                <div [ngClass]="(uploadStatus==true) ? '':'d-none'">
                                                                                        <div class="alert alert-success">
                                                                                                <strong>Success!</strong>
                                                                                                All done
                                                                                                file uploaded
                                                                                                successfully.
                                                                                        </div>
                                                                                </div>
                                                                                <div [ngClass]="(fileStatus==true) ? '':'d-none'">
                                                                                        <div class="alert alert-danger ">
                                                                                                <strong>Error!</strong>
                                                                                                Only csv,xlsx,json
                                                                                                filetypes are allowed.
                                                                                                Maximum file size 10MB
                                                                                                allowed.
                                                                                        </div>
                                                                                </div>
                                                                                <div [ngClass]="(uploadContainer==true) ? '':'d-none'">
                                                                                </div>
                                                                        </div>

                                                                </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                                <button type="submit" class="btn btn-outline-dark"
                                                                        (click)="onfileSubmit($event)">
                                                                        <i class="fa fa-save"></i> Gem</button>
                                                                <button type="submit" class="itsystems__operations-icon itsystems__buttons-icon">
                                                                        <i class="fa fa-save"></i>Gem </button>
                                                                <button type="button" class="btn btn-outline-dark"
                                                                (click)="d('Cross click')"> <!--(click)="fileuploadCancel($event)">-->
                                                                        <i class="fa fa-times-circle"></i> Annuller</button>
                                                        </div>

                                                </ng-template>

                                                <!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->

                                        </div>
                                </div>
                        </div>
                </div>

                <div class="">
                        <div [ngClass]="(loading==true) ? 'spinner':'spinner d-none'"></div>

                        <div [ngClass]="(loading==true) ? 'd-none':' '">

                                <!-- <jqxGrid [theme]='"ui-start"' #gridReference [localization]="localization" (onRowclick)="Rowclick($event)"  [source]="dataAdapter" [columns]="columns"
                        [filterable]="true" [sortable]="true" [ready]="ready" [autoshowfiltericon]="true">
                </jqxGrid> -->
                        </div>
                </div>
        </div>
        <div class="itsystems__emptycontainer">

        </div>
        <div [ngClass]="(loading==true) ? 'invisible':' itsystems__gridContainer'">


                <jqxGrid [height]="'80%'" [width]="'100%'" [pagermode]="simple" [altrows]="true" [pagesize]="20" [theme]="'overcast'" [sortable]="true" (onSort)="Sort($event)" (onFilter)="Filter($event)"
                        [pageable]="true" [autoloadstate]="true"  [showfilterrow]="true"  [autosavestate]="true"  [rendered]="rendered"
                        #gridReference [localization]="localization" [enablehover]="true" [enabletooltips]="true"
                        [autoshowloadelement]="true" [columnsreorder]="true" [groupable]="true" [groups]="groupableValue"
                        [columnsresize]="true" [autorowheight]="true" [enableellipsis]="true" (onRowclick)="Rowclick($event)"
                        [source]="dataAdapter" [columns]="columns" [filterable]="true" [sortable]="true" [ready]="ready"
                        [filterable]="true" [autoshowfiltericon]="true">
                </jqxGrid>
        </div>
        <jqxNotification #successNotification [width]="400" [height]="120" [position]="'bottom-right'" [opacity]="0.9" 
                [autoClose]="true" [animationOpenDelay]="100" [autoCloseDelay]="4000" [template]="'success'">
                <div>
                        Success!! Thank you..
                </div>
        </jqxNotification>
        <jqxNotification #errorNotification [width]="1000"  [height]="120"[position]="'bottom-right'" [opacity]="1"
                [autoClose]="true" [animationOpenDelay]="100" [autoCloseDelay]="4000" [template]="'error'">
                <div class="errormessage">{{serviceErrorMessage}} </div>
        </jqxNotification>