@import './variables';

.list-group-item {
    background: $background-gray;
}
.list-group{
    margin-bottom: 10em;
}
.spinner{
    z-index: $minimum-priority;
    background:  $primary-color-theme;
    border-left: 6px solid rgba(8, 239, 0, 0.15);
    border-right: 6px solid rgba(28, 239, 0, 0.15);
    border-bottom: 6px solid rgba(20, 239, 0, 0.15);
    border-top: 6px solid rgba(0, 239, 20, 0.8);
}
// body::-webkit-scrollbar { 
//     width: 0px;
//     background: transparent; 
// }
body,html{
    height: 100%;
}