<div class="analytics">
        <h1 class="serviceanalytics__heading">Carex Service logs Analytics</h1>
        <div class="serviceanalytics__container">
                <div class="serviceanalytics__filtercontainer">
                        <form [formGroup]="serviceanalyticsForm">
                                <div class="form-row">
                                        <div class="form-group col-md-6">
                                        </div>

                                        <div class="form-group col-md-2">
                                                <label for="startdate"><i class="fas fa-calendar-alt"></i>Start Date</label>
                                                <input [(ngModel)]="startdate" [readonly]="true"
                                                        [ngModelOptions]="{standalone: true}" [owlDateTime]="i"
                                                        type="text" class="form-control" value="startdate"
                                                        [owlDateTimeTrigger]="i" placeholder="ubegrænset" />
                                                <span class="detailspage__dateicon" [owlDateTimeTrigger]="i"><i
                                                                class="fal fa-calendar-alt"></i></span>
                                                <span class="detailspage__closeicon" (click)="clearstartDate(item)"><i
                                                                class="fal fa-times"></i></span>
                                                <owl-date-time (afterPickerClosed)="StartDate(item,i)"
                                                        [disabled]="false" [pickerType]="'calendar'" #i></owl-date-time>
                                        </div>
                                        <div class="form-group col-md-2">
                                                <label for="enddate"><i class="fas fa-calendar-alt"></i>End Date</label>
                                                <input [(ngModel)]="enddate" [readonly]="true"
                                                        [ngModelOptions]="{standalone: true}" [owlDateTime]="j"
                                                        type="text" class="form-control" value="enddate"
                                                        [owlDateTimeTrigger]="j" placeholder="ubegrænset" />
                                                <span class="detailspage__dateicon" [owlDateTimeTrigger]="j"><i
                                                                class="fal fa-calendar-alt"></i></span>
                                                <span class="detailspage__closeicon" (click)="clearendDate(item)"><i
                                                                class="fal fa-times"></i></span>
                                                <owl-date-time (afterPickerClosed)="EndDate(item,i)" [disabled]="false"
                                                        [pickerType]="'calendar'" #j></owl-date-time>
                                        </div>
                                        <div class="form-group col-md-2">
                                                <div class="serviceanalytics__info">
                                                <button (click)="downloadservicelogs($event)" class="btn"><i class="fas fa-cloud-download"></i>Download service logs report</button>
                                        </div></div>
                                </div>
                        </form>
                </div>
        </div>

</div>