<div class="chatcontrol"> 
        <input type="text" class="form-control chatinput" [(ngModel)]="message.content"/>
        <button class="btn btn-success sendbtn" (click)="sendMessage()">Send</button>
      </div>