<!-- <div class="container createpage">

  <div class="createpage__heading-container">
    <p class="createpage__heading-title"> {{listId}}</p>
  </div> -->

<div class="createpage">

  <div class="createpage__header-container">
    <div class="createpage__header">

      <ul id="breadcrumb" class="createpage__breadcrum">
        <li><a href="#"><span class="icon icon-home"> </span></a></li>
        <li><a href="#"><span class="icon icon-beaker"> </span> {{heading}}</a></li>
        <li><a href="#"><span class="icon icon-double-angle-right"></span> {{displayheadingName}}</a></li>
        <li><a href="#"><span class="icon icon-rocket"> </span> {{brugerName}}{{lastupdatedTime}}</a></li>
        <!-- <li><a href="#"><span class="icon icon-arrow-down"> </span> Download</a></li> -->
      </ul>


      <div class="createpage__operations">
        <a title="Delete" class="button createpage__operations-icon" (click)="Delete($event)" href="#">
          <i class="fa fa-trash"></i>Delete</a>
        <div *ngIf="items">
          <button (click)="Cancel($event)" class="btn createpage__operations-icon createpage__buttons-icon"
            title="Cancel save">
            <i class="fa fa-times-circle"></i>Annuler</button>
          <button type="submit" (click)="saveData($event)"
            class="btn createpage__operations-icon createpage__buttons-icon">
            <i class="fa fa-save"></i>Gem
          </button>
        </div>

      </div>
    </div>

  </div>



  <div class="">

    <div>
      <div class="createpage__lastupdated"> Opdateret
        <span class="createpage__date">{{lastupdatedTime}}</span> af {{brugerName}}
      </div>
      <div class="createpage__form-container">

        <div class="createpage__nav-container">
          <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
            <ng-template ngFor let-item [ngForOf]="tabstoDisplay" let-i="index" let first=first;
              [ngForTrackBy]="trackByFn">
              <li class="nav-item">
                <a *ngIf="i==0" data-toggle="pill" (click)="switchTab($event,i)" href="#pills-i" id="pills-i-tab"
                  role="tab" [ngClass]="(selectedTab==i) ? 'nav-link active':'nav-link  createpage--nav-link'"
                  aria-controls="pills-i" aria-selected="true">{{item}}</a>
                <a *ngIf="i!=0" data-toggle="pill" href="#pills-i" (click)="switchTab($event,i)" id="pills-i-tab"
                  role="tab" [ngClass]="(selectedTab==i) ? 'nav-link  active':'nav-link createpage--nav-link'"
                  aria-controls="pills-i" aria-selected="false">{{item}}</a>
              </li>
            </ng-template>
          </ul>
        </div>

        <div [ngClass]="(loading==true) ? 'spinner':'spinner d-none'">
        </div>
        <div class="tab-content createpage__container" id="pills-tabContent">
          <ng-template ngFor let-item [ngForOf]="tabstoDisplay" let-c="index" [ngForTrackBy]="trackByFn">
            <div *ngIf="c==0" [ngClass]="(selectedContainer==c) ? 'tab-pane fade show active':'tab-pane fade'"
              id="pills-i" role="tabpanel" aria-labelledby="pills-i-tab">

              <div class="form-group">
                <form class="form-horizontal row" id="detailForm" #detailForm novalidate [formGroup]="detailsForm">
                  <ng-template ngFor let-item [ngForOf]="detailsForm.get('items').controls" let-i="index"
                    [ngForTrackBy]="trackByFn">
                    <div class="col-sm-10">
                      <div *ngIf="selectedContainer==item.value.tabIndex">
                        <div class="form-group row" id="{{item.value.name}}"
                          *ngIf="item.value.type=='input' && item.value.ld_brugervendtnoegle!=='adresser'  && item.value.type!=='file'">
                          <label title="{{item.value.tooltip}}"
                            class="col-sm-4 col-form-label">{{item.value.name}}</label>
                          <div class="col-sm-8" *ngIf="item.value.required=='true'">
                            <input disabled={{item.value.readonly}} class="form-control" required
                              [(ngModel)]="item.value.value" [ngModelOptions]="{standalone: true}"
                              value={{item.value.value}}>
                            <div class="invalid-feedback">
                              Please fill this field.
                            </div>
                          </div>
                          <div class="col-sm-8" *ngIf="item.value.required=='false'">
                            <input disabled={{item.value.readonly}} class="form-control" [(ngModel)]="item.value.value"
                              [ngModelOptions]="{standalone: true}" value={{item.value.value}}>
                          </div>
                        </div>
                        <div class="form-group row" id="{{item.value.name}}" *ngIf="item.value.type=='file'">
                          <label title="{{item.value.tooltip}}"
                            class="col-sm-4 col-form-label">{{item.value.name}}</label>

                          <div class="col-sm-4" *ngIf="item.value.value">

                            <a class="btn btn-link" (click)="downloadFile($event)"
                              href="{{item.value.value}}">{{item.value.value}}</a>
                            <span class="createpage__downloadFile"></span>
                          </div>

                          <div [ngClass]="(item.value.value) ? 'col-sm-4':'col-sm-8'"
                            *ngIf="item.value.required=='true'">

                            <span> upload a new file</span>
                            <input *ngIf="readonly==false" (change)="selectFile($event,item)" class="form-control"
                              type="file" required>
                            <input *ngIf="readonly==true" disabled (change)="selectFile($event,item)"
                              class="form-control" type="file" required>
                            <div class="invalid-feedback">
                              Please fill this field.
                            </div>
                          </div>
                          <div [ngClass]="(item.value.value) ? 'col-sm-4':'col-sm-8'"
                            *ngIf="item.value.required=='false'">
                            <input *ngIf="readonly==false" (change)="selectFile($event,item)" class="form-control"
                              type="file">
                            <input *ngIf="readonly==true" disabled (change)="selectFile($event,item)"
                              class="form-control" type="file">
                          </div>
                        </div>
                        <div class="form-group row" id="{{item.value.name}}"
                          *ngIf="item.value.type=='input' && item.value.ld_brugervendtnoegle=='adresser'">
                          <label title="{{item.value.tooltip}}"
                            class="col-sm-4 col-form-label">{{item.value.name}}</label>
                          <div class="col-sm-8" *ngIf="item.value.required=='true'">
                            <div class="autocomplete-container">
                              <input disabled={{item.value.readonly}} class="form-control" required
                                [(ngModel)]="item.value.value" [ngModelOptions]="{standalone: true}" type="text"
                                [value]="selectedStreet" ngxDawaAutocomplete (items$)="onItems($event)"
                                (keyup)="ErrorMsg($event)" (highlighted$)="onItemHighlighted($event)"
                                (select$)="onItemSelected($event)" />
                              <div class="invalid-feedback">
                                Please fill this field.
                              </div>
                              <div *ngIf="itemss.length > 0">
                                <ul class="autocomplete-items">
                                  <li class="autocomplete-item" *ngFor="let item of itemss; let i = index;"
                                    [class.highlighted]="i === highlightedIndex" (click)="onItemSelected(item)">
                                    {{item.text}}
                                  </li>
                                </ul>
                              </div>
                              <div *ngIf="enableaddresserrorMsg === true">
                                <div *ngIf="(addresserrorMesg === true)  && itemss.length== 0" class="text-danger">
                                  Adressen kunne ikke verificeres. Prøv at skrive lidt af adressen, og find den via de
                                  viste forslag.
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-8" *ngIf="item.value.required=='false'">
                            <div class="autocomplete-container">
                              <input disabled={{item.value.readonly}} class="form-control"
                                [(ngModel)]="item.value.value" [ngModelOptions]="{standalone: true}" type="text"
                                [value]="selectedStreet" ngxDawaAutocomplete (items$)="onItems($event)"
                                (keyup)="ErrorMsg($event)" (highlighted$)="onItemHighlighted($event)"
                                (select$)="onItemSelected($event)" />
                              <div class="invalid-feedback">
                                Please fill this field.
                              </div>
                              <div *ngIf="itemss.length > 0">
                                <ul class="autocomplete-items">
                                  <li class="autocomplete-item" *ngFor="let item of itemss; let i = index;"
                                    [class.highlighted]="i === highlightedIndex" (click)="onItemSelected(item)">
                                    {{item.text}}
                                  </li>
                                </ul>
                              </div>
                              <div *ngIf="enableaddresserrorMsg === true">
                                <div *ngIf="(addresserrorMesg === true)  && itemss.length== 0" class="text-danger">
                                  Adressen kunne ikke verificeres. Prøv at skrive lidt af adressen, og find den via de
                                  viste forslag.
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row" id="{{item.value.ld_brugervendtnoegle}}"
                          *ngIf="item.value.type=='dropdown'">
                          <label title="{{item.value.tooltip}}"
                            class="col-sm-4 col-form-label">{{item.value.name}}</label>
                          <div class="col-sm-8" *ngIf="item.value.required === 'true'">
                            <select *ngIf="item.value.multiselect==='false'" required
                              (change)="Select($event,item.value)"
                               class="form-control selectpicker show-tick"
                              data-live-search="true">
                              <option *ngFor="let optionitems of item.value.options; index as op;trackBy: trackByFn"
                                [selected]="optionitems.selected==='true' ? 'selected':null" [ngValue]="optionitems.value"
                                data-tokens="optionitems">
                                {{optionitems.value}}
                              </option>
                            </select>
                            <select multiple="true" *ngIf="item.value.multiselect==='true'" required 
                              class="form-control selectpicker show-tick" data-live-search="true" #multiselect
                              [(ngModel)]="item.value.selected_list" [ngModelOptions]="{standalone: true}"
                              (change)="Multiselect($event,item.value,multiselect)">
                              <option *ngFor="let optionitems of item.value.options; index as op;trackBy: trackByFn"
                                [selected]="optionitems.selected==='true' ? 'selected':null"
                                [ngValue]="optionitems.value" data-tokens="optionitems">
                                {{optionitems.value}}
                              </option>
                            </select>
                            <div id="{{item.value.ld_brugervendtnoegle}}"
                              class="invalid-feedback {{item.value.ld_brugervendtnoegle}}">
                              Please fill this field.
                            </div>
                          </div>
                          <div class="col-sm-8" *ngIf="item.value.required === 'false'">
                            <select *ngIf="item.value.multiselect==='false'" (change)="Select($event,item.value)" 
                              class="form-control selectpicker show-tick" data-live-search="true">
                              <option *ngFor="let optionitems of item.value.options; index as op;trackBy: trackByFn"
                                [selected]="optionitems.selected==='true' ? 'selected':null"
                                [ngValue]="optionitems.value" data-tokens="optionitems">
                                {{optionitems.value}}
                              </option>
                            </select>
                            <select multiple="true" *ngIf="item.value.multiselect==='true'" 
                              class="form-control selectpicker show-tick" data-live-search="true" #multiselect
                              [(ngModel)]="item.value.selected_list" [ngModelOptions]="{standalone: true}"
                              (change)="Multiselect($event,item.value,multiselect)">
                              <option *ngFor="let optionitems of item.value.options; index as op;trackBy: trackByFn"
                                [selected]="optionitems.selected==='true' ? 'selected':null"
                                [ngValue]="optionitems.value" data-tokens="optionitems">
                                {{optionitems.value}}
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row" id="{{item.value.ld_brugervendtnoegle}}"
                          *ngIf="item.value.type=='date'">
                          <label title="{{item.value.tooltip}}"
                            class="col-sm-4 col-form-label">{{item.value.name}}</label>
                          <div class="col-sm-8">
                            <input [(ngModel)]="item.value.formatdate" [readonly]="true"
                              [ngModelOptions]="{standalone: true}" [owlDateTime]="i" type="text"
                              [required]="item.value.required==='true'? 'required' : null" class="form-control"
                              value={{item.value.value}} [disabled]="item.value.readonly===true? true : false"
                              [owlDateTimeTrigger]="i" placeholder="ubegrænset" />
                            <span class="detailspage__dateicon" [owlDateTimeTrigger]="i"><i
                                class="fal fa-calendar-alt"></i></span>
                            <span class="detailspage__closeicon" (click)="clearDate(item)"><i
                                class="fal fa-times"></i></span>
                            <owl-date-time (afterPickerClosed)="dateChange(item,i)" [disabled]="false"
                              [pickerType]="'calendar'" #i></owl-date-time>
                            <div id="{{item.value.ld_brugervendtnoegle}}" *ngIf="item.value.required === 'true'"
                              class="invalid-feedback {{item.value.ld_brugervendtnoegle}}">
                              Please fill this field.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="item.value.type=='file' && item.value.image">
                      <ng-container [ngTemplateOutlet]="imageTemplate"
                        [ngTemplateOutletContext]="{$implicit: '', image: item.value.image}"></ng-container>
                    </div>
                  </ng-template>
                </form>
              </div>
            </div>
          </ng-template>

        </div>
        <jqxNotification #successNotification [width]="300" [position]="'bottom-right'" [opacity]="0.9"
          [autoOpen]="false" [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000"
          [template]="'success'">
          <div>
            Success!! Thank you..
          </div>
        </jqxNotification>
        <jqxNotification #errorNotification [width]="3000" [position]="'bottom-right'" [opacity]="0.9"
          [autoOpen]="false" [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="15000"
          [template]="'error'">
          <div>{{errorMessage}}</div>
        </jqxNotification>

      </div>
    </div>
  </div>
</div>