@import './variables';
.configuration{
    margin-bottom: 2em;
    margin-top: 5em;


  &__appview{
    width: 467px;
    height: 800px;
    background: center top no-repeat url('../../assets/img/devices-sprite.jpg');
    background-size: 467px;
    margin: 0 auto;
  }
  &__statusbar-img{
    display: block!important;
    position: absolute;
    background-color: transparent;
    padding: 5px 0;
    top: 4.5em;
    width: 330px;
    background:$color-white;
    margin-left: 4.5em;
  }
  &__mobile{
    background: $color-white;
    display: block;
    position: relative;
    height: 71.5%;
    width: 20.62em;
    top: 5.7em;
    left: 4.5em;
  }
&__iframe{
    height: 100%;
    width: 100%;
    border: none;
}
&__stepsContainer{
    width: 10em;
  
}
&__step{
    width: 100%;
    list-style: none;
}
&__stepsItem{
    background:  $primary-color-theme;
    color: $color-white;
    height: 6em;
    width: 6em;
    border-radius: 100%;
    line-height: 3em;
    padding: 1.5em;
    ::after{

    }
}
}