<div class="configuration">

    
  <div class="row">
      <div class="detailspage__header">
          <div class="">
            <ul id="breadcrumb" class="detailspage__breadcrum">
              <li>
                <a href="#">
      
                </a>
              </li>
              <li>
                <a href="#">
                  configureApp</a>
              </li>
              <li>
                <a href="#">
                </a>  
              </li>
              <li>
                <a href="#">
                 Step 1</a>
              </li>
              <li>
                <a href="#">
                </a>
              </li>
              <li>
                  <a href="#">
                   Step 2</a>
                </li>
                <li>
                    <a href="#">
                    </a>
                  </li>
                  <li>
                      <a href="#">
                       Step 3</a>
                    </li>
                    <li>
                        <a href="#">
                        </a>
                      </li>
                      <li>
                          <a href="#">
                           Step 4</a>
                        </li>
              <li>
                <a href="#">
                 </a>
              </li>
              <!-- <li>
                <a href="#">
                </a>
              </li> -->
              <!-- <li><a href="#"><span class="icon icon-arrow-down"> </span> Download</a></li> -->
            </ul>
          </div>
          </div>
    <div class="col-6">
      <h4> Step 1 </h4>
      <h5> Choose Customer</h5>
    <br>
      <form [formGroup]="configureForm">
          <div class="form-group">
            <label class="center-block">select from existing  Customer:
                <select class="form-control" (change)="selectedCustomer()" [(ngModel)]="customerName" formControlName="selectCustomer">
                    <option *ngFor="let customer of customerpages" [value]="customer.title">{{customer.title}}</option>
                </select>
              </label>
          </div>
        </form>
        {{customerName}}
<!--       
    <div class="configuration__stepsConttainer">
     
      <ul class="configuration__step">
        <li class="configuration__stepsItem"> Step 1</li>
        <li class="configuration__stepsItem"> Step 2</li>
        <li class="configuration__stepsItem"> Step 3</li>
        <li class="configuration__stepsItem"> Step 4</li>

        </ul>

      </div> -->
    </div>
    <div class="col-6">
      <div class="configuration__appview">
          <img class="configuration__statusbar-img" src="assets/img/ios-statusbar.png">
          <div class="configuration__mobile">
<iframe class="configuration__iframe" src="http://udv-admin.carex.dk/config/">
</iframe>

          </div>
        </div>
    </div>
    </div>
</div>