<div class="menu-right">

        <!-- <div *ngIf="state=='inactive'" class="menu-right__hamburger-close">
                <a href="#" (click)="toogleMenu($event)">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
        </div>
        <div *ngIf="state=='active'" class="menu-right__hamburger-open">
                <a href="#" (click)="toogleMenuOpen($event)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                </a>
        </div> -->
        <div class="menu-right__list-container" [@menuState]="state">
                <!--    <nav>
                        <ul class="list-group">
                                
                                <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                                        <i class="fa fa-info" aria-hidden="true"></i>

                                </li>
                                <li routerLinkActive="active" c class="list-group-item">
                                        <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                </li>
                                <li routerLinkActive="active" c class="list-group-item">
                                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                                </li>
                                <li routerLinkActive="active" c class="list-group-item">
                                        <i class="fa fa-eur" aria-hidden="true"></i>
                                </li>
                                <li routerLinkActive="active" class="list-group-item">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                </li>
                                <li class="list-group-item" routerLinkActive="active">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </li>
                                <li routerLinkActive="active" class="list-group-item">
                                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                                </li>
                                <li routerLinkActive="active" class="list-group-item">
                                        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                </li>
                                <li routerLinkActive="active" class="list-group-item">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </li> -->
                <!-- <li routerLinkActive="active" class="list-group-item">
                                                <a  routerLink="/statistics">Statistics</a>
                                            </li> 
                        </ul>
                </nav>-->
                <nav *ngIf="authorisation && authorisation!=null">
                        <ul class="list-group">
                                <!-- <li [routerLinkActive]="['active']" #rla="routerLinkActive" [ngClass]="[active?'list-group-item active':'list-group-item']" (click)="getStatistics($event)"
                                [routerLinkActiveOptions]="{exact:true}">
                                        <a routerLink="/statistics">Statistics</a>
                                </li> -->
                                <li [routerLinkActive]="['active']" #rla="routerLinkActive" [ngClass]="[active?'list-group-item active':'list-group-item']" (click)="getAnalytics($event)"
                                [routerLinkActiveOptions]="{exact:true}">
                                        <a routerLink="/analytics">Analytics</a>
                                </li> 
                                <li [routerLinkActive]="['active']" #rla="routerLinkActive" [ngClass]="[active?'list-group-item active':'list-group-item']" (click)="serviceAnalytics($event)"
                                [routerLinkActiveOptions]="{exact:true}">
                                        <a routerLink="/serviceanalytics">Service log analytics</a>
                                </li> 
                                <li [routerLinkActive]="['active']" #rla="routerLinkActive" [ngClass]="[active?'list-group-item active':'list-group-item']" (click)="sendpushNotification($event)">
                                        <a routerLink="/sendpushNotification">Send Notification</a>
                                </li>
                                <li [routerLinkActive]="['active']" #rla="routerLinkActive" *ngIf="userrelations && userrelations.length" [ngClass]="[active?'list-group-item active':'list-group-item']" (click)="translation($event)">
                                        <a routerLink="/translation">Oversættelse</a>
                                </li>
                                <li [routerLinkActive]="['active']" #rla="routerLinkActive" *ngIf="userrelations && userrelations.length" [ngClass]="[active?'list-group-item active':'list-group-item']" (click)="templates($event)">
                                                <a routerLink="/templates">Skabelon Editor</a>
                                        </li>
                                       <!-- <li routerLinkActive="active" class="list-group-item">
                <a  routerLink="/sendpushNotification">Push Notification</a>
            </li> -->
                        </ul>
                </nav>
        </div>
</div>


