<!-- <footer class="footer fixed-bottom container">
        <div class="footer__text text-center"> 
      <p>powered by carex</p>
      <p>all rights reserverd</p>
        </div>
</footer> -->

<footer class="footer">
        <div class="container text-center">
          <span class="footer__text"> powered by carex. all rights reserved</span>
        </div>
      </footer>