@import './variables';

.footer {
    background-color: $primary-color-theme;
    padding: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    color: $color-white;    
    z-index: 99;
    

    &__text{
       color: $color-white;
       font-size: .7em;
    }
    
}