<jqxNotification #successNotification [width]="300" [position]="'bottom-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
[animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
<div>
  Success!! Thank you..
</div>
</jqxNotification>


<jqxNotification #errorNotification [width]="300" [position]="'bottom-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
[animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
<div>Oops! Something went wrong . Please try again </div>
</jqxNotification>


<jqxNotification #infoNotification [width]="300" [position]="'bottom-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
[animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
<div>Info!!</div>
</jqxNotification>



<jqxNotification #warningNotification [width]="300" [position]="'bottom-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
[animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
<div>Waring!! </div>
</jqxNotification>