<div class="menu-left">
        <nav>
                                
<!--         <ul class="list-group">
            <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a routerLink="/organization">Organization</a>
            </li>
        </ul> -->
        <ul *ngIf="userobj && userobj.id && menulist && menulist.length>0"  class="list-group">
                <ng-template ngFor let-item  *ngIf="menulist" [ngForOf]="menulist" let-i="index" [ngForTrackBy]="trackByFn">
                <!-- <li *ngIf="item.brugervendtnoegle != 'Udredninger' && 
                item.brugervendtnoegle != 'Personer'  && 
                item.brugervendtnoegle != 'Dokumenter' &&
                item.brugervendtnoegle != 'Indsatser' &&
                item.brugervendtnoegle != 'Forløb'  &&
                item.brugervendtnoegle != 'Tilstande'" -->
                <div>
                 <li *ngIf="item.brugervendtnoegle"
                [routerLinkActive]="" [ngClass]="[rla.isActive?'list-group-item active':'list-group-item', (item.submenu && rla.isActive) ?'list-group-item submenu':'list-group-item']"  #rla="routerLinkActive"  (click)="active($event,item,item.uuid,item.brugervendtnoegle)" > 
                <!-- <li *ngIf="item.brugervendtnoegle && item.brugervendtnoegle == 'personliste'"
                [routerLinkActive]="" [ngClass]="rla.isActive?'list-group-item submenu':'list-group-item'"  #rla="routerLinkActive"  (click)="active($event,item.uuid,item.brugervendtnoegle)" > -->
                    <!-- <a routerLink="/{{item.facetbeskrivelse}}">{{item.facetbeskrivelse}}</a> -->
                      <!-- <a [routerLink]="[/{{item.facetbeskrivels}}, {{item.uuid}}]">{{item.facetbeskrivelse}}</a> -->
                    <!-- <a [routerLink]="['/'item.facetbeskrivelse, item.uuid]">{{item.facetbeskrivelse}} </a> -->
                    <!-- <a routerLink="/{{item.facetbeskrivelse}}" [queryParams]="{uuid: item.uuid}" routerLinkActive  #rla="routerLinkActive" >
                        {{item.facetbeskrivelse}} 
                      </a> -->
                      <a routerLink="/{{item.brugervendtnoegle}}" routerLinkActive>
                        {{item.funktionsnavn}} 
                      </a> 
                      <ng-template ngFor let-submenuitem [ngForOf]="item.submenu" let-s="index" [ngForTrackBy]="trackByFn">
                          <i *ngIf="s==0" [ngClass]="[rla.isActive?'menu-left__uparrow fa fa-sort-up':'menu-left__downarrow fa fa-sort-down']" ></i> 
                        <li *ngIf="submenuitem.brugervendtnoegle"
                        [routerLinkActive]="" [ngClass]="rla.isActive?'list-group-item submenuparent active ':'list-group-item submenuparent'"  #rla="routerLinkActive"  (click)="activesubmenu($event,item,submenuitem.uuid,submenuitem.brugervendtnoegle)" >
                
                              <a routerLink="/{{item.brugervendtnoegle}}/{{submenuitem.brugervendtnoegle}}" routerLinkActive >
                                {{submenuitem.funktionsnavn}} 
                        
                              </a> 
                        </li>
                      </ng-template>
                </li>
                </div>
              </ng-template>
              <!-- <li routerLinkActive="active" class="list-group-item">
                <a  routerLink="/sendpushNotification">Push Notification</a>
            </li> -->
             <!--   <hr class="menu-left__seperator"/>
             <ng-template ngFor let-item [ngForOf]="menulist" let-i="index" [ngForTrackBy]="trackByFn">
                <li *ngIf="item.brugervendtnoegle == 'Udredninger' || 
                item.brugervendtnoegle == 'Personer'  || 
                item.brugervendtnoegle == 'Dokumenter'  ||
                item.brugervendtnoegle == 'Indsatser' ||
                item.brugervendtnoegle == 'Forløb'  ||
                item.brugervendtnoegle == 'Tilstande'"
                [routerLinkActive]="" [ngClass]="rla.isActive?'list-group-item active':'list-group-item'"  #rla="routerLinkActive"  (click)="active($event,item.uuid,item.brugervendtnoegle)" >
        
                      <a routerLink="/{{item.brugervendtnoegle}}" routerLinkActive >
                        {{item.titel}} 
                      </a> 
                </li>
              </ng-template> -->
            <!-- <li 
              [routerLinkActive]="" [ngClass]="rla.isActive?'list-group-item active':'list-group-item'"  #rla="routerLinkActive"  (click)="activeConfiguration(ConfigureApp)" >
                    <a routerLink="/ConfigureApp" routerLinkActive >
                      ConfigureApp
                    </a> 
              </li>  -->
              </ul>
    </nav>
</div>

