@import './variables';

.dashboard{

 &__chart{
     width: 100%;
     height: 20em;
     background: gray;
 }
 &__chart-container{

    width: auto;
    list-style: none;
    //margin-top: 43%;
    //background;
    height: 500px;
    display: inline-block;
    border-bottom: 1px solid $primary-color-theme;
 }
 &__chart-element{
    background: $primary-color-theme;
    width: 5px;
    height: 100%;
    //margin: 2em;
    float: left;
    margin-left: 3em;
    margin-right: 8em;
 }
 &__chart-element-first{
    width: 5px;
    height: 100%;
    font-weight: bold;
    float: left;
    margin-left: 3em;
    margin-right: 8em;
 }
 &__chart-element-labels{
    height: 33%;

 }
 &__chart-label-container{
     height: 100%;
 }
 &__chart-emoji{
    font-size: 4em;
    margin-left: -0.4em;
    height: 33%;
    display: inline-block;


    &--green{
        color: green;
    }
    &--red{
        color: red;
    }
    &--yellow{
        color:yellow;
    }
    &--activity{
        color: black;   
    }
    &--label{
        font-size: 2em;
    }
}
a:hover{
  color: inherit !important;  
}
&__pagination{
    width: 100%;
    display: inline-block;
    float: left;
    text-align: center;
    vertical-align: middle;
    height: 4em;
    margin-left:20%;
    font-weight: bold;
}
&__week{
    padding-left: 1em;
    padding-right: 1em;
}
}