<div class="translation">
        <div class="translationpage">
                <div class="translationpage__header-container">
                        <div class="translationpage__header">
                                <breadcrum-viewer [breadcrumelements]="navigationElements"></breadcrum-viewer>
                                <div class="translationpage__operations">
                                        <div>
                                                <a title="Importer" (click)="export(modal,$event)"
                                                        class="button itsystems__operations-icon" href="#">
                                                        <i class="fas fa-cloud-upload"></i>Eksporter</a>
                                                <a title="Importer" (click)="open(modal,$event)"
                                                        class="button itsystems__operations-icon" href="#">
                                                        <i class="fas fa-cloud-download"></i>Importer</a>
                                        </div>
                                </div>
                                <ng-template #modal let-c="close" let-d="dismiss">
                                        <div class="modal-header">
                                                <h4 class="modal-title">Upload file</h4>
                                                <button type="button" class="close" aria-label="Close"
                                                        (click)="d('Cross click')">
                                                        <span aria-hidden="true">&times;</span>
                                                </button>
                                        </div>
                                        <div class="modal-body itsystems--modal-body" (drop)="onDrop($event)">
                                                <div class="itsystems__modal-container">
                                                        <form #uploadfileForm (ngSubmit)="onfileSubmit($event)">
                                                                <label class="cursor-pointer itsystems__upload">
                                                                        <input type="file" ngf-select
                                                                                ng-model="new_files" id="inputFile"
                                                                                #inputFile class=""
                                                                                (change)="onfileChange($event)">
                                                                </label>
                                                                <div class="itsystems__dropContainer">
                                                                        <span
                                                                                class="itsystems__dropContainer itsystems__dropContainer--droptext"></span>
                                                                        <i class="fa fa-download"></i>

                                                                </div>
                                                        </form>
                                                        <div class="uploadcontainer">
                                                                <div [ngClass]="(uploadStatus==true) ? '':'d-none'">
                                                                        <div class="alert alert-success">
                                                                                <strong>Success!</strong>
                                                                                All done
                                                                                file uploaded
                                                                                successfully.
                                                                        </div>
                                                                </div>
                                                                <div [ngClass]="(fileStatus==true) ? '':'d-none'">
                                                                        <div class="alert alert-danger ">
                                                                                <strong>Error!</strong>
                                                                                Only csv,xlsx,json
                                                                                filetypes are allowed.
                                                                                Maximum file size 10MB
                                                                                allowed.
                                                                        </div>
                                                                </div>
                                                                <div [ngClass]="(uploadContainer==true) ? '':'d-none'">
                                                                </div>
                                                        </div>

                                                </div>
                                        </div>
                                        <div class="modal-footer">
                                                <button type="submit" class="btn btn-outline-dark"
                                                        (click)="onfileSubmit($event)">
                                                        <i class="fa fa-save"></i> Gem</button>
                                                <button type="submit"
                                                        class="itsystems__operations-icon itsystems__buttons-icon">
                                                        <i class="fa fa-save"></i>Gem </button>
                                                <button type="button" class="btn btn-outline-dark"
                                                        (click)="d('Cross click')">
                                                        <i class="fa fa-times-circle"></i> Annuller</button>
                                        </div>
                                </ng-template>

                        </div>
                </div>
                <div [ngClass]="(loading==true) ? 'spinner':'spinner d-none'">
                </div>
                <div class="translationpage__form-container">

                        <div class="translationpage__nav-container">
                                <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
                                        <li class="nav-item">
                                                <a data-toggle="pill" href="#pills-i" id="pills-i-tab" role="tab"
                                                        class="nav-link active" aria-controls="pills-i"
                                                        aria-selected="true">Oversættelse</a>
                                        </li>
                                </ul>
                        </div>
                        <div [ngClass]="(loading==true) ? 'spinner':'spinner d-none'">
                        </div>
                        <div class="tab-content translationpage__container" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-i" role="tabpanel"
                                        aria-labelledby="pills-i-tab">
                                        <div class="form-group">
                                                <form *ngIf="userrelations && userrelations.length>0">
                                                        <div class="form-group row">
                                                                <label class="col-sm-4 col-form-label">Vælge
                                                                        Organisation</label>
                                                                <div class="col-sm-8">
                                                                        <select [(ngModel)]="slctorg"data-live-search="true"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        class="form-control selectpicker show-tick"
                                                                                (change)="onChange($event,item)"
                                                                                id="exampleFormControlSelect1">
                                                                                <ng-template ngFor let-item
                                                                                        [ngForOf]="userrelations"
                                                                                        let-i="index" let first=first;
                                                                                        [ngForTrackBy]="trackByFn">
                                                                                        <option [ngValue]="item.organisation_uuid"
                                                                                        data-tokens="item.org"
                                                                                                *ngIf="item.org && item.organisation_uuid">
                                                                                                {{item.org}}
                                                                                        </option>
                                                                                </ng-template>
                                                                        </select>
                                                                </div>
                                                        </div>
                                                        <div *ngIf="slctorg" class="form-group row">
                                                                <label class="col-sm-4 col-form-label">Objekt
                                                                        type</label>
                                                                <div class="col-sm-8">
                                                                        <select
                                                                                [(ngModel)]="Objekttype"
                                                                                data-live-search="true"
                                                                                [ngModelOptions]="{standalone: true}"
                                                                                class="form-control selectpicker show-tick"
                                                                                id="exampleFormControlSelect1">
                                                                                <option value="applikationsfunktion"> Applikations funktion</option>
                                                                                <option value="skema">Skema</option>
                                                                                <option value="survey">Survey</option>
                                                                        </select>
                                                                </div>
                                                        </div>
                                                </form>
                                        </div>
                                </div>
                        </div>
                        <jqxNotification #successNotification [width]="300" [position]="'bottom-right'" [opacity]="0.9"
                                [autoOpen]="false" [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000"
                                [template]="'success'">
                                <div>
                                        Success!! Thank you..
                                </div>
                        </jqxNotification>
                        <jqxNotification #errorNotification [width]="1000" [position]="'bottom-right'" [opacity]="1"
                                [autoOpen]="false" [autoClose]="true" [animationOpenDelay]="100" [autoCloseDelay]="40000000"
                                [template]="'error'">
                                <div>{{serviceErrorMessage}} </div>
                        </jqxNotification>
                        <jqxNotification #infoNotification [width]="300" [position]="'bottom-right'" [opacity]="0.9"
                        [autoOpen]="false" [autoClose]="true" [animationOpenDelay]="800" [autoCloseDelay]="3000"
                        [template]="'info'">
                        <div>
                                No records found!!
                        </div>
                </jqxNotification>

                </div>
        </div>
</div>