@import './variables';
.translationpage {
    margin-bottom: 2em;
    margin-top: 10em;

    &__operations {
        float: right;
        display: inline-block;
        border-radius: .4em;
        height: 3em;
        margin-right: 1em;
        width: 20em;
    }
    &__operations-icon {
        margin-right: 2em;
        float: right;
        color: $color-white;
        margin-top: .5em;
        padding: 0;
        font-size: 0.9em;
        font-weight: normal;
    }
    &__operations-icon>i {
        margin-right: .4em;
    }
    &__copyicon{
        margin-right: 39px;
       // background: #d3d3d3;
        position: relative;
        display: block;
        border-left: 0px;
        font-size: 20px;
        margin-top: -35px;
        float: right;
        padding-left: 9px;
        padding-right: 9px;
        border-radius: 4px;
        cursor: pointer;

        &--inactive{
            color: $primary-color-theme;  
        }
        &--active{
            color: $color-highlight-green;
        }

        >i{
            color: inherit;
        }
    }
    &__nav-container {
        margin-top: -2.6em;
    }
    &__header {
        background: $color-highlight-green;
        border: 1px solid $primary-color-theme;
        border-radius: .4em;
        height: 3em;
        width: 100%;
        display: inline-block;
        float: left;
        margin-top: .5em;
    }
    &__header-container {
        position: fixed;
        margin-top: -5em;
        width: 66.4%;
        margin-bottom: 2em;
        z-index: $minimum-priority;
        background: $color-white;
        // height: 100%;
        // overflow-y: scroll;
    }
    &__header-text {
        margin-left: 1em;
        color: $color-white;
    }
    &__buttons-icon-container {
        color: $primary-color-theme;
    }
    &__buttons-icon {
        color: $color-white;
        background: none;
    }
    &__buttons-icon>i {
        margin-right: .4em;
    }
    &__form-container {
        margin-top: 3em;
        border: 1px solid $primary-color-theme;
        margin-bottom: 200px;
        width: 100%;
        display: inline-block;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        min-height: 400px;
    }
    &__breadcrum {
        float: left;
    }
    &__button-container {
        margin-top: 2em;
        float: right;
        display: inline-block;
        width: 100%;
    }
    &--nav-link {
        display: block;
        padding: 0.5rem 1rem;
        border: 1px solid $primary-color-theme;
        margin-right: 0;
        margin-left: .4em;
        color: $primary-color-theme;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        &:last-child {
            margin-right: 0;
        }
    }
    .nav-link {
        &:first-child {
            margin-left: 0;
        }
    }
    .nav-item {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    &__container {
        margin: 1em;
    }
    &__delete {
        width: 100%;
        text-align: right;
        font-size: 2em;
    }
    &__heading-container {
        background: $background-dark-gray;
        height: 3em;
        margin-bottom: 1em;
    }
    &__heading-title {
        color: $color-white;
        padding: 1em;
    }
    &__button-container {
        margin-bottom: 10em;
        text-align: center;
    }
    .nav-link.active {
        background: $primary-color-theme;
        margin-right: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    &__dropdown-errormsg {
        text-align: center;
    }
    &__date {
        margin-left: .1em;
    }
    &__lastupdated {
        float: right;
        font-size: .7em;
        margin-top: .5em;
    }
    #id {
        display: none;
    }
    &__downloadFile{
        margin-left: 20px;
        margin-right: 20px;
        height: 100%;
        border: 0;
        border-left: 1px solid $shadow-color;
        display: inline-block;
        vertical-align: bottom;
    }
    &__imgContainer{
        float: right;
        position: absolute;
        top: 18em;
        max-height: 15em;
        max-width: 15em;
    }
    &__imgpreview{
    //     width: 80%;
    //    position: absolute;
    //    margin-left: 28%;
    //    margin-top: -12em;
    //    height: 20em;
    //    size: 20em;
       float: right;
       size: inherit;
       max-height: 15em;
       max-width: 15em;
    }
}

jqxDropDownList,
jqxDateTimeInput,
jqxDateTimeInput {
    margin-left: 1em;
}

.autocomplete-items {
    list-style: none;
    padding: 0.2em 0;
    margin: 0;
    position: absolute;
    z-index: 50;
    margin-top: 0px;
    left: 0;
    right: 0;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-top-color: transparent;
    width: 96%;
    margin-left: 1em;
}

.autocomplete-item {
    cursor: pointer;
    padding: 0.5em 1em;
    border-bottom: 1px solid whitesmoke;
}

.autocomplete-item:last-child {
    border-bottom: none;
}

.autocomplete-item:hover,
.autocomplete-item.highlighted {
    background-color: #f9f9f9;
    font-weight: bold;
}