@import './variables';

.chat-container{
 
    &__chat-box{
        position: fixed;
        border:$chat-green-color 1px solid;
        height: 20em;
        bottom: 21px;
    }

  &__header{
      height: 2em;
      background: $chat-green-color;
      color: $color-white;
      text-align: right;
      padding-right: 1em;

      >a {
          padding-right: .5em;
          color: $color-white;
          font-size: 1em;

          .fa-times{
            -webkit-text-stroke: 3px $chat-green-color;
          }
      }
  }
  &__control{
    display: inline-block;
    width: 100%;
    position: sticky;
    bottom: 60px;
    top: 100%;
    
    input {
        width: 80%;
        float: left;
        height: 3em;
    }
    button {
        width: 20%;
        float: left;
        height: 3em;
    }

  }
  &__icon{
      position: fixed;
      bottom: 60px;

  }
  &__chat-icon{
    color: $chat-green-color;
    font-size: 2em;
  }
  &__list-group{
    height: 230px;
    overflow: hidden;
    overflow-y: scroll;
    background: $color-white;
  }
  &__timestamp{
      font-size: .8em;
  }

}