<div class="chat-conatiner">
<div *ngIf="chatenable==true" class="chat-container__chat-box">
    <div class="chat-container__header"><!-- 
            <a (click)="hide($event)" href="#"><i class="fa fa-angle-down"></i></a>  <a (click)="close($event)" href="#"><i class="fa fa-times"></i></a> -->
            <a (click)="close($event)" href="#">okay, got it!</a>
        </div>




        <div class="chatlist">
                <ul class="list-group chat-container__list-group">
                  <li *ngFor="let msg of messages" class="list-group-item">
                        <div class="message">
                            {{msg}}
                        </div>
                        <div class="timeform">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                <span class="chat-container__timestamp"> 12/10/2018 10:21</span>
                            </div>
                    </li>
                </ul>
              </div>
              



        <div class="chat-container__control"> 
                <form class="form-horizontal">
                <input [ngModelOptions]="{standalone: true}" [(ngModel)]="chatquestion" type="text" class="form-control chatinput" />
                <button class="btn btn-success sendbtn" (click)="sendchatMessage($event)">Send</button>
                </form>
              </div>
    </div>

    <div *ngIf="chatenable==false" class="chat-container__icon">
            <a (click)="open($event)" href="#">Ask me Anything!
            <i class="fa fa-comments chat-container__chat-icon"></i>
        </a>
        </div>
        </div>
