<li class="list-group-item">
    <img [src]="message.avatar" class="avatar" />
    <div class="message">
        {{message.content}}
    </div>
    <div class="timeform">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <span class="timestamp">at {{message.timestamp | date : 'dd/MM/yyyy' }}</span>
    </div>
</li>