@import './variables';

.widgets{
 margin-top: 2em;
 margin-top: 2em;
 position: absolute;
 top: 0em;


.events{
    border: 1px solid $shadow-color;
    padding: .5em;
    width: 100%;
    position: absolute;
    margin-top: 1em;
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
    background: $color-white;

    &__message{
        background: $color-light-blue;
        color: $color-white;
    }
    &__event{
    border: 1px solid $shadow-color;
    margin-top: .5em;
    margin-bottom: .5em; 
    }

}



}

