<div class="widgets">
        <div class="calender"><i class="fa fa-calendar"></i>
   <!--      <ng-datepicker [(ngModel)]="date"></ng-datepicker> -->
        <jqxCalendar #widgetCalendar [width]="250" [height]="220" [theme]="'ui-start'" [enableTooltips]="true"></jqxCalendar></div>


<div class="events">

  <div class="events__event">
<h5> Monday, February 5 2018</h5>
  <span class="events__time">13:30</span>
  <div class="events__agenda">
   <p  class="events__message">Hi Doctor you have an appointment today with patient from Herlev.</p>
    </div>
   </div> 

   <div class="events__event">
      <h5> Monday, February 6 2018</h5>
        <span class="events__time">2:00 pm</span>
        <div class="events__agenda">
         <p  class="alert alert-success">Hi Doctor you have a patient visitng from  Alborg.</p>
          </div>
         </div> 

         <div class="events__event">
            <h5> Today</h5>
              <span class="events__time">11:00 am</span>
              <div class="events__agenda">
               <p  class="events__message">Hi Doctor you have unit meeting today with all doctors</p>
                </div>
               </div> 

               <div class="events__event">
                  <h5> Yesterday</h5>
                    <span class="events__time">10:00 am</span>
                    <div class="events__agenda">
                     <p  class="alert alert-warning">Hi Doctor you have unit meeting today with all doctors</p>
                      </div>
                     </div> 

</div>


        <chat-container></chat-container>
        
        <!--      <div  class="chatform">
               <message-list ></message-list>
                <message-form [message]="message" [messages]="messages"></message-form>
              </div> -->
</div>