<div class="">
    <ul id="breadcrumb" *ngIf="breadcrumelements" class="breadcrum__breadcrumcontainer">
        <ng-template ngFor let-item [ngForOf]="breadcrumelements" let-i="index" let-isEven="even" let-isOdd="odd" [ngForTrackBy]="trackByFn">
            <li>
                <a href="#">

                </a>
            </li>
            <li>
                <a href="#">
                    {{item}}
                </a>
            </li>
            <!-- <li *ngIf="parentheading && displayname">
            <a href="#">

            </a>
        </li>
        <li *ngIf="displayname && parentheading">
            <a href="#">
                {{parentheading}}
            </a>
        </li>
    
        <li *ngIf="displayname && parentheading">
            <a href="#">

            </a>
        </li>
        <li *ngIf="parentheading && displayname">
            <a href="#">
                {{displayname}}
            </a>
        </li>
        <li>
            <a href="#">

            </a>
        </li>
        <li>
            <a href="#">
                {{heading}}</a>
        </li>
        <li>
            <a href="#">
            </a>
        </li>
        <li>
            <a href="#">
            </a>
        </li> -->
        </ng-template>
        <li>
                <a href="#">

                </a>
            </li>
            <li>
                    <a href="#">
    
                    </a>
                </li>
    </ul>
</div>